.c-btn {
    width: 180px;
    display: block;
    background-color: $cActive;
    border-radius: 30px;

    & a {
        height: 100%;
        padding: 16px 0;
        font-weight: bold;
        font-size: 1.125rem;
    }
}

.c-btn-section {
    font-size: 1.125rem;
    font-weight: bold;
    padding-left: 50px;
    position: relative;
    @include mq(pc) {
        font-size: 1.25rem;
    }

    &::before {
        content: "";
        height: 2px;
        width: 42px;
        background-color: $cMain;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(50%);
    }
}