.u-px-auto {
    padding-left: auto;
    padding-right: auto;
}
.u-pb-m {
    padding-bottom: 30px;
    @include mq(pc) {
        padding-bottom: 50px;
    }
}
.u-pb-50 {
    padding-bottom: 50px;
}


.u-mx-auto {
    margin-left: auto;
    margin-right: auto;

    @include mq(pc) {
        &.pc-none {
            margin: 0px;
        }
    }
}
.u-mx-12 {
    margin-left: 12px;
    margin-right: 12px;
}
.u-mb-10 {
    margin-bottom: 10px;
}
.u-mb-14 {
    margin-bottom: 14px;
}
.u-mb-30 {
    margin-bottom: 30px;
}
.u-mb-40 {
    margin-bottom: 40px;
}

.u-mb-20 {
    margin-bottom: 20px;
}