.p-contact {
    background-color: $cActive;
    &__inner {
        background-color: $cWhite;
        padding: 40px;
        @include mq(pc) {
            padding: 50px;
        }
    }
    &__br {
        @include mq(pc) {
            display: none;
        }
    }
}