.p-header {
    &__logo {
        background-image: url("../images/logo_icon.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center left;
        @include mq(tab) {
            background-image: url("../images/RATIO.png");
            width: 160px;

        }
    }
}

.p-toggle {
    z-index: map-get($sLayer, "toggle");
    position: relative;
    &__img {
        height: 100%;
        width: 30px;
        background-image: url("../images/bars.png");
        background-size: contain;
        background-position: center right;
        background-repeat: no-repeat;
        position: relative;
        &::before,
        &::after {
            content: "";
            width: 42px;
            height: 1px;
            background-color: $cWhite;
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 0;
            transition: all ease-out .5s;
        }
        &::before {
            transform: translate(-50%, 50%) rotate(45deg);
        }
        &::after {
            transform: translate(-50%, 50%) rotate(-45deg);
        }
        @include mq(pc) {
            width: 40px;
        }

        & img {
            object-fit: contain;
        }
    }
    @include mq(tab) {
        padding-right: 72px;
        &::after {
            content: "MENU";
            width: 60px;
            height: 20px;
            font-family: $fMainTitle;
            font-size: 1.125rem;
            line-height: 20px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    @include mq(pc) {
        &::after {
            height: 40px;
            line-height: 40px;
        }
    }
    &.is-active {
        & .p-toggle__img {
            background-image: none;
            transform-origin: center;
            &::before,
            &::after {
                opacity: 1;
            }
            &::before {
                transform: translate(-50%, 50%) rotateZ(-315deg);
            }
            &::after {
                transform: translate(-50%, 50%) rotateZ(-405deg);
            }
        }
        &::after {
            content: "CLOSE";
            color: $cWhite;
            position: absolute;
            top: 0;
            left: -65px;
        }
    }
}