.p-mv {
    box-sizing: border-box;
    height: 100vh;
    padding-top: $sHeaderSm;
    @include mq(tab-only) {
        max-height: 700px;
    }
    @include mq(pc) {
        height: 100%;
        padding-top: $sHeaderPc;
    }

    &__img {
        background-image: url("../images/mv_bg-s.png");
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: calc(100% - 60px);
        @include mq(tab) {
            background-image: url("../images/mv_bg-p.png");
            background-position: left bottom;
        }
        @include mq(pc) {
            height: 609px;
        }
    }
    &__img-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}