.p-service {
    &__container {
        @include mq(tab) {
            justify-content: space-between;
        }
    }

    &__card {
        box-sizing: border-box;
        margin: 20px 0px;

        @include mq(tab-only) {
            position: relative;
            padding-bottom: 30px;
        }
        @include mq(tab) {
            width: calc((100% - 60px) / 3);
            min-height: 380px;
        }
        @include mq(pc) {
            width: calc((100% - 134px) / 3);
        }
        &:nth-of-type(1) {
            @include mq(pc) {
                margin-top: 0px;
            }
        }
        &:nth-of-type(2) {
            @include mq(pc) {
                margin-top: 50px;
            }
        }
        &:nth-of-type(3) {
            @include mq(pc) {
                margin-top: 100px;
            }
        }
    }

    &__img {
        overflow: hidden;
        & img {
            transition: all ease .3s;
        }
        &:hover {
            & img {
                transform: scale(1.1);
            }
        }
    }

    &__card-title {
        font-size: 1.125rem;
        font-weight: bold;
        display: inline-block;
        position: relative;
        @include mq(pc) {
            font-size: 1.25rem;
        }
        &::after {
            content: "";
            height: 2px;
            width: calc(100% + 0.8rem);
            background-color: $cMain;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    &__card-text {
        font-size: 0.875rem;
        line-height: 2;
        @include mq(pc) {
            font-size: 1rem;
        }
    }
    &__btn {
        @include mq(tab-only) {
            position: absolute;
            bottom: 0;
        }
    }
}