.l-inner {
    margin: 0px 20px;

    @include mq(md) {
        &.small {
            margin: 0px 10%;
        }
    }

    @include mq(pc) {
        // margin: 0px 46px;
        width: $layout-width-tab;
        margin: 0px auto;
        box-sizing: border-box;

        &.small {
            // margin: 0px 93px;
            width: #{$layout-width-tab - 49px};
            margin: 0px auto;
        }
    }
}

.l-flex-row {
    display: flex;
    flex-direction: row;

    @include mq(pc) {
        &.pc-column {
            flex-direction: column;
        }
    }
}
.l-flex-pc {
    display: block;
    @include mq(pc) {
        display: flex;
        flex-direction: row;
    }
}
.l-flex-tab {
    display: block;
    @include mq(tab) {
        display: flex;
        flex-direction: row;
    }
}

.l-wrap {
    flex-wrap: wrap;
}

.l-flex-column {
    display: flex;
    flex-direction: column;

    @include mq(tab) {
        &.tab-row {
            flex-direction: row;
        }
    }
    @include mq(pc) {
        &.pc-row {
            flex-direction: row;
        }
    }
}

.l-row-between {
    justify-content: space-between;
}

.l-row__center {
    justify-content: center;
}

.l-section {
    padding: 60px 0;
    overflow: hidden;
    @include mq(pc) {
        padding: 90px 0px;
    }

    &__title {
        font-size: 2rem;
        font-family: $fMainTitle;
        text-align: center;

        @include mq(pc) {
            font-size: 2.875rem;
        }
    }
    &__text {
        font-weight: bold;
        text-align: center;
        line-height: 2;

        @include mq(pc) {
            font-size: 1.125rem;
        }
    }
}

.l-bg-white {
    background-color: $cWhite;
}
.l-bg-black {
    background-color: $cBlack;
}

.l-font-white {
    color: $cWhite;
}